doctype html
html(lang="en")
    head
        include includes/head.pug
    body
        header
            include includes/header.pug
        nav
            #hamburger.hamburger(onclick="hamburgerNav()")
                #h-bar1.hamburger-bar
                #h-bar2.hamburger-bar
                #h-bar3.hamburger-bar

            ul#nav-list.nav-list
                li
                    a(href="index.html") Home
                li
                    a(href="projects.html") Projects
                li
                    a(href="https://pcassima.github.io/Experiments") Experiments
                li
                    a(class="nav_active" href="gallery.html") Gallery
                li
                    a(href="about.html") About
                li
                    a(href="contact.html") Contact
        //aside.left
        //    include includes/left_aside.pug
        //aside.right
        //    include includes/right_aside.pug
        main
            article
                h1 Gallery
                section
                    h2 Projects
                    p
                        | Some royalty free images, used as filler, to test the layout and styling:
                    .gallery_container
                        figure
                            img(src="https://unsplash.it/640/512?random"
                                alt="image 1"
                                onclick='open_modal("modal-box-1")')
                            figcaption
                                a(onclick='open_modal("modal-box-1")') Figure 1
                                br
                                | &copy; 2019
                            .modal-box#modal-box-1
                                .close-button(onclick='close_modal("modal-box-1")')
                                .image-modal-container
                                    img(src='https://unsplash.it/g/2000/1600')
                                    figcaption A photo
                        figure
                            img(src="https://unsplash.it/640/512?random"
                                alt="image 2"
                                onclick='open_modal("modal-box-2")')
                            figcaption
                                a(onclick='open_modal("modal-box-2")') Figure 2
                                br
                                | &copy; 2019
                            .modal-box#modal-box-2
                                .close-button(onclick='close_modal("modal-box-2")')
                                .image-modal-container
                                    img(src='https://unsplash.it/g/2000/1600')
                                    figcaption A photo
                        figure
                            img(src="https://unsplash.it/640/512?random"
                                alt="image 3"
                                onclick='open_modal("modal-box-3")')
                            figcaption
                                a(onclick='open_modal("modal-box-3")') Figure 3
                                br
                                | &copy; 2019
                            .modal-box#modal-box-3
                                .close-button(onclick='close_modal("modal-box-3")')
                                .image-modal-container
                                    img(src='https://unsplash.it/g/2000/1600')
                                    figcaption A photo
                        figure
                            img(src="https://unsplash.it/640/512?random"
                                alt="image 4"
                                onclick='open_modal("modal-box-4")')
                            figcaption
                                a(onclick='open_modal("modal-box-4")') Figure 4
                                br
                                | &copy; 2019
                            .modal-box#modal-box-4
                                .close-button(onclick='close_modal("modal-box-4")')
                                .image-modal-container
                                    img(src='https://unsplash.it/g/2000/1600')
                                    figcaption A photo
                        figure
                            img(src="https://unsplash.it/640/512?random"
                                alt="image 5"
                                onclick='open_modal("modal-box-5")')
                            figcaption
                                a(onclick='open_modal("modal-box-5")') Figure 5
                                br
                                | &copy; 2019
                            .modal-box#modal-box-5
                                .close-button(onclick='close_modal("modal-box-5")')
                                .image-modal-container
                                    img(src='https://unsplash.it/g/2000/1600')
                                    figcaption A photo
                        figure
                            img(src="https://unsplash.it/640/512?random"
                                alt="image 6"
                                onclick='open_modal("modal-box-6")')
                            figcaption
                                a(onclick='open_modal("modal-box-6")') Figure 6
                                br
                                | &copy; 2019
                            .modal-box#modal-box-6
                                .close-button(onclick='close_modal("modal-box-6")')
                                .image-modal-container
                                    img(src='https://unsplash.it/g/2000/1600')
                                    figcaption A photo
                        figure
                            img(src="https://unsplash.it/640/512?random"
                                alt="image 7"
                                onclick='open_modal("modal-box-7")')
                            figcaption
                                a(onclick='open_modal("modal-box-7")') Figure 7
                                br
                                | &copy; 2019
                            .modal-box#modal-box-7
                                .close-button(onclick='close_modal("modal-box-7")')
                                .image-modal-container
                                    img(src='https://unsplash.it/g/2000/1600')
                                    figcaption A photo
                        figure
                            img(src="https://unsplash.it/640/512?random"
                                alt="image 8"
                                onclick='open_modal("modal-box-8")')
                            figcaption
                                a(onclick='open_modal("modal-box-8")') Figure 8
                                br
                                | &copy; 2019
                            .modal-box#modal-box-8
                                .close-button(onclick='close_modal("modal-box-8")')
                                .image-modal-container
                                    img(src='https://unsplash.it/g/2000/1600')
                                    figcaption A photo
                section
                    h2 Other photos
